// Variable overrides
$theme-color : #20a8d8;

$-webkit-box-shadow-card : 12px 24px 37px -31px rgba(0,0,0,0.75); 
$-moz-box-shadow-card : 12px 24px 37px -31px rgba(0,0,0,0.75);
$box-shadow-card : 12px 24px 37px -31px rgba(0,0,0,0.75);